html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

.container {
    width: 80%;
    font-family: monospace;
    max-width: 500px;
}

.container > img {
    margin: 40px auto;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.muted {
    color: gray;
}

h2 {
    font-weight: bold;
    display: inline-block;
}
.refresh {
    font-size: 80%;
    margin-left: 10px;
}
.header {
    background: #ECECEC;
    padding: 5px;
}
.suggestions {
    border: 2px solid #ECECEC;
}
li {
    padding: 5px;
}
li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
li .username, li .close {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 5px;
}